# Visual Studio
.vs/
*.vcxproj.user
*.vcxproj.filters
*.suo
*.user
*.userosscache
*.sln.docstates
*.cache
*.ilk
*.ncb
*.opensdf
*.sdf
*.pdb
*.ipch/
*.aps
*.obj
*.pch
*.idb
*.ipdb
*.tlog
*.log
*.vspscc
*.vsp
.vscode/
build/
Debug/
Release/

